doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        meta(name='description' content='')
        meta(name='keywords' content='')
        link(rel='stylesheet' href='styles/normalize.css')
        script(src='socket.io/socket.io.js')
        block head
    body
        block body