extends base
block head
    script(src='js/player.js')
    script(src='https://cdn.jsdelivr.net/npm/sweetalert2@9')
    link(rel='stylesheet' href='styles/player.css')
    script(src='https://kit.fontawesome.com/608502c177.js' crossorigin='anonymous')
block body
    #player-container
        #player-container-header
            #username-status-container
                #username-status
                p Desconocido
        #player-container-board
        #player-container-controls
            .player-container-controls
                button(onclick="moveBall('arriba')")
                    i(class='fas fa-arrow-up')
            .player-container-controls
                button(onclick="moveBall('izquierda')")
                    i(class='fas fa-arrow-left')
                button(onclick="moveBall('abajo')")
                    i(class='fas fa-arrow-down')
                button(onclick="moveBall('derecha')")
                    i(class='fas fa-arrow-right')