#player-container {
  display: block;
  background: #e0f7fa;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#player-container-header {
  width: 100%;
  height: 80px;
}

#username-status-container {
  border: 2px solid #29b6f6;
  position: relative;
  top: 20px;
  overflow: hidden;
  left: 70px;
  border-radius: 20px;
  white-space: nowrap;
  display: block;
  width: 90px;
  box-sizing: content-box;
  padding: 0.5rem 0.8rem;
}
#username-status-container p {
  display: inline-block;
  margin: 0;
}

#username-status {
  display: inline-block;
  margin-right: 5px;
  height: 10px;
  width: 10px;
  background: #ff1744;
  border-radius: 50%;
}

.player-container-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.player-container-controls button {
  background: #29b6f6;
  width: 100px;
  height: 100px;
  margin: 5px;
  color: #fff;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}
.player-container-controls button:hover {
  transform: scale(1.1);
}

#player-container-board {
  width: 100%;
  height: 500px;
  background: #fff;
  display: block;
}

/*# sourceMappingURL=player.css.map */
